.cartSummary {
  width: 30%;
  border: 1px solid #ccc;
  padding: 32px 32px 96px;
}

.cartActions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-top: 32px;
}

.discount {
  margin: 32px 0;
}

.summaryResume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px 0;
  width: 100%;
}

.summaryResume p {
  flex-basis: calc(50% - 10px);
  margin-top: 8px;
}

.summaryResume p:nth-child(2),
.summaryResume p:nth-child(4) {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  color: var(--roxo);
}
